<div class="col-sm-12 bgA" style="overflow: hidden">
  <div class="row">
    <div class="col-sm-4">
      <div class="col-sm-12">
        <app-navbar [NavId]="NavId"></app-navbar>
      </div>
      <div class="col-sm-12">
        <mat-tab-group>
          <mat-tab label="WOLF LAND">
            <mat-accordion>
              <mat-expansion-panel class="mat-exp-panel-A">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="title">
                      <img
                        src="{{ en_base_logo + 'logo/811.png' }}"
                        alt=""
                        class="img-cl-A mr-3"
                      />KALAIKUNDA</span
                    >
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-wl1></app-wl1>
              </mat-expansion-panel>
              <mat-expansion-panel class="mat-exp-panel-B">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="title"
                      ><img
                        src="{{ en_base_logo + 'logo/812.png' }}"
                        alt=""
                        class="img-cl-A mr-3"
                      />BARRAKPORE</span
                    >
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-wl2></app-wl2>
              </mat-expansion-panel>
              <mat-expansion-panel class="mat-exp-panel-A">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="title"
                      ><img
                        src="{{ en_base_logo + 'logo/813.png' }}"
                        alt=""
                        class="img-cl-A mr-3"
                      />BAGDOGRA</span
                    >
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-wl3></app-wl3>
              </mat-expansion-panel>
              <mat-expansion-panel class="mat-exp-panel-B">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="title"
                      ><img
                        src="{{ en_base_logo + 'logo/814.png' }}"
                        alt=""
                        class="img-cl-A mr-3"
                      />HASHIMARA</span
                    >
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-wl4></app-wl4>
              </mat-expansion-panel>

              <mat-expansion-panel class="mat-exp-panel-A">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="title"
                      ><img
                        src="{{ en_base_logo + 'logo/815.png' }}"
                        alt=""
                        class="img-cl-A mr-3"
                      />GUAHATTI</span
                    >
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-wl5></app-wl5>
              </mat-expansion-panel>

              <mat-expansion-panel class="mat-exp-panel-B">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="title"
                      ><img
                        src="{{ en_base_logo + 'logo/816.png' }}"
                        alt=""
                        class="img-cl-A mr-3"
                      />TEZPUR</span
                    >
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-wl6></app-wl6>
              </mat-expansion-panel>

              <mat-expansion-panel class="mat-exp-panel-A">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="title"
                      ><img
                        src="{{ en_base_logo + 'logo/817.png' }}"
                        alt=""
                        class="img-cl-A mr-3"
                      />AGARTOLA</span
                    >
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-wl7></app-wl7>
              </mat-expansion-panel>
              <mat-expansion-panel class="mat-exp-panel-B">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="title"
                      ><img
                        src="{{ en_base_logo + 'logo/818.png' }}"
                        alt=""
                        class="img-cl-A mr-3"
                      />AIZAWL</span
                    >
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-wl8></app-wl8>
              </mat-expansion-panel>
              <!-- </div> -->
            </mat-accordion>
          </mat-tab>
          <mat-tab label="DRAGON LAND">
            <!--  -->
            <mat-accordion>
              <mat-expansion-panel class="mat-exp-panel-A">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="title"
                      ><img
                        src="{{ en_base_logo + 'logo/831.png' }}"
                        alt=""
                        class="img-cl-A mr-3"
                      />MEIKTILA</span
                    >
                  </mat-panel-title>
                </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel class="mat-exp-panel-B">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="title"
                      ><img
                        src="{{ en_base_logo + 'logo/832.png' }}"
                        alt=""
                        class="img-cl-A mr-3"
                      />SITTWE</span
                    >
                  </mat-panel-title>
                </mat-expansion-panel-header>
              </mat-expansion-panel>
              <mat-expansion-panel class="mat-exp-panel-A">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span class="title"
                      ><img
                        src="{{ en_base_logo + 'logo/833.png' }}"
                        alt=""
                        class="img-cl-A mr-3"
                      />NYAUNG</span
                    >
                  </mat-panel-title>
                </mat-expansion-panel-header>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="col-sm-8" style="border-left: 5px solid #ccc">
      <div class="row mymap" id="map"></div>
    </div>
  </div>
</div>
